#coord {
  display: flex;
  position: relative;
  overflow: visible;
  width: 48px;
  height: 48px;
}

.item  {
  position: absolute;

  width: 48px;
  height: 48px;
  border-radius: 48px;

  background-color: white;
}