* {
  padding: 0;
  margin: 0;
  outline: 0;
  overflow: hidden;
}
html, body {
  margin: 0;
  padding: 0;
  width: 750px;
  height: 750px;
  overflow: hidden;
}
#zoom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 750px;
  height: 750px;
  transform-origin: 0px 0px;
  transform: scale(1) translate(0px, 0px);
  cursor: grab;
  background: linear-gradient(#e66465, #9198e5);
}